<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academics</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../stylesheets/year.css" />
  </head>
  <body>
    <%- include ("../partials/header") %>
    <div class="tabs">
      <div class="tab-header">
        <div class="active">
          <button
            class="branch"
            onclick="location.href='/branch'"
            style="padding-right: 120px"
          >
            BRANCH
          </button>
        </div>
        <% branches.forEach(function(branch){ %>
        <div>
          <button
            class="<%= branch.branch %>"
            onclick="fetchSubject(`<%= branch.branch %>`)"
            style="padding-right: 90px"
          >
            <%= branch.branch %>
          </button>
        </div>
        <% }); %>
      </div>
      <div class="tab-indicator"></div>
      <div class="tab-content">
        <div class="active">
          <i class="Branch"></i>
          <div class="container" style="padding: 20px 30px;">
            <header class="jumbotron">
              <div class="container">
                <u><h1>Welcome Teachers!!</h1></u>
                <p>
                  On the left side of the page you can view the respective
                  branches your teaching.And by using the below<br />
                  button you can create your new classroom for a particular year
                  and branch.
                </p>
                <p>
                  <a class="btn btn-primary btn-large" href="/subject/new"
                    >New classroom</a
                  >
                </p>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>

    <script src="../scripts/year.js"></script>
    <script src="../scripts/verify.js"></script>
    <script src="../scripts/branch.js"></script>
    <%- include ("../partials/footer") %>
  </body>
</html>
