<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academics</title>
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    /> -->
    <link rel="stylesheet" href="../stylesheets/branch.css" />
    <link rel="stylesheet" href="../stylesheets/year.css" />
    <style>
      button:hover{
        color: #427ef5;
      }
    </style>

  </head>
  <body>
    <%- include ("../partials/header") %>
    <div class="tabs">
      <div class="tab-header bbb" id="abcd">
        <div class="active">
          <button
            class="branch"
            onclick="location.href='/branch'"
            style="padding-right: 120px"
          >
            BRANCH
          </button>
        </div>
        <% branches.forEach(function(branch){ %>
        <div>
          <button
            class="<%= branch.branch %>"
            onclick="fetchSubject(`<%= branch.branch %>`)"
            style="padding-right: 90px"
          >
            <%= branch.branch %>
          </button>
        </div>
        <% }); %>
      </div>
      <div class="tab-indicator" id="abc"></div>
      <div class="tab-content">
        <div class="active">
          <i class="Branch"></i>
          <div class="container" style="padding: 20px 30px;">
            <header class="jumbotron">
              <div class="container">
                <u><h1>Welcome Teachers!!</h1></u>
                <p>
                  On the left side of the page you can view the respective
                  branches your teaching.And by using the below
                  button you can create your new classroom for a particular year
                  and branch.
                </p>
                <p>
                  <a class="btn btn-primary btn-large" href="/subject/new"
                    >New classroom</a
                  >
                </p>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
    <footer><p>copyright..</p></footer>
    <script src="../scripts/year.js"></script>
    <script src="../scripts/verifyTeacher.js"></script>
    <script src="../scripts/branch.js"></script>
    <%- include ("../partials/footer") %>
  </body>
</html>
