<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subject Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
        <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../stylesheets/subject.css"
    />
    
  </head>
  <body style="background-color: #dce1e3">
  <%- include('../partials/header') %>
    <div class="container" style="padding-top: 120px;">
      <header class="jumbotron" id="abcd">
        <div class="container" id="dcef">
          <h1>Welcome <%=name%>!!!</h1>
          <p>You can view all the subjects that you are studying</p>
          <!-- <p>
            <a class="btn btn-primary btn-large" href="/branch/first"
              >Go Back</a
            >
          </p> -->
        </div>
      </header>

      <div class="row text-center" style="display: flex; flex-wrap: wrap">
        <% subjects.forEach(function(subject){ %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <a onclick="fetchShow('<%= subject %>')">
            <figure class="figure" style="border:8px solid; border-color:white">
              <img class="figure-image img-fluid"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwwXQu1hZwcBerHRcOGAAGgk0UBmbvMl9fOQ&usqp=CAU"
              />
              <figcaption class="figure-caption" style="background-color: white; padding-top:3px; padding-bottom:1px">
                <h4><%= subject %></h4>
              </figcaption>
            </figure>
          </a>
        </div>
        <% }); %>
      </div>
    </div>
    <footer><p>copyright..</p></footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../scripts/verifyStud.js"></script>
    <script src="../scripts/studSubj.js"></script>
  <%- include ('../partials/footer') %>











